iframe{
  clear: both;
  text-align: center;
  margin:10px;
}

body{
  background-color: #6542f4;
  font-family: Sans-Serif;
}

.column {
    margin:10px;
    float: left;
    width: 31%;
}

img {
    float: left;
    width: 100%;
}

img:hover{
   opacity: 0.5;
}

nav {
  text-align: center;
}

/* Clears floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

aside {
  padding: 20px 0;
  text-align:center;
}

footer {
  text-align: center;
  clear: both;
}

form {
  float: left;
}
h1{
  text-align: center;
}

